body {
    margin: 0;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#flipbook {
    width: 900px;
    height: 600px;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.page {
    width: 100%;
    height: 100%;
}

.page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
